
* {
  transition: all 0.2s ease-in-out;
}

body {
  background: rgb(95, 163, 218);
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.card {
  background: rgb(53, 40, 102);
  border-radius: 4px;
  height: 65vh;
  width: 55vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-top: 180px;
  color: #f1f1f1;
  /* overflow: hidden; */
}

@media only screen and (min-width: 1000px) {
  .card {
    flex-direction: row-reverse;
  }
  .card img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

@media only screen and (max-height: 640px) {
  .card {
    flex-direction: row-reverse;
  }
  .card img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

img.birthday {
  max-height: 40vh;
}

.text {
  padding: 1em;
}

.muted {
  opacity: 0.8;
}

.space {
  height: 100px;
}

/* Choose Files */

.file-upload {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  /* margin-top:200px; */
}

.file-upload__input {
  display: none;
}

.file-upload__button {
  -webkit-appearance: none;
  background: #009879;
  border: 2px solid #00745d;
  border-radius: 4px;
  outline: none;
  padding: 0.5em 0.8em;
  margin-right: 15px;
  
  color: #ffffff;
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.file-upload__button:active {
  background: orangered;
}

.file-upload__label {
  max-width: 250px;
  font-size: 0.95em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Quicksand", sans-serif;
}

/* TO AND FROM */

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: 100px;
  margin-right: 40px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: orangered;}


/* -----------------------FOOTER------------------------- */

footer {
  margin-top: 50px;
}

footer .icons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-inline: auto;
  align-items: center;
}

footer .icons i {
  color: var(--clr-white);
  font-size: 0.75rem;
  padding: 0.25rem;
  transition: all 0.25s ease-out;
}

footer .icons a:last-of-type i {
  font-size: 1rem;
}

footer .icons a:hover i {
  color: var(--clr-magenta);
}

footer .icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  border: 0.078125rem solid var(--clr-white);
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.25s ease-out;
}
footer .icons a:hover {
  border: 0.078125rem solid var(--clr-magenta);
}

footer .icons a:nth-of-type(2) {
  margin-left: 1rem;
  margin-right: 1rem;
}

footer .attribution {
  margin-top: 1.5rem;
  font-size: 0.5625rem;
  text-align: center;
  color: var(--clr-magenta);
}

footer .attribution a {
  color: var(--clr-magenta);
  font-weight: var(--fw-bold);
  font-family: var(--ff-poppins);
  text-decoration: none;
}


/* Navbar */
.navbar {
  width: 100%;
  height: -22rem;
  background-color: black;
  position: fixed;
  top: -8rem;
  padding: 3rem;
  z-index: 10;
  animation: animateNavbar 1s 0.5s forwards;
  transition: height 0.5s;
  margin-bottom: 10px;
  
}

.navbar.change {
  height: 100vh;
}

@keyframes animateNavbar {
  0% {
    top: -8rem;
  }
  100% {
    top: 0;
  }
}

.menu {
  width: 4rem;
  height: 4rem;
  position: fixed;
  z-index: 500;
  top: 2rem;
  right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: #eee;
  transition: transform 0.3s;
}

.line-1 {
  width: 50%;
}

.line-3 {
  width: 50%;
  margin-left: auto;
}

.change .line-1 {
  transform: translate(100%, 1rem) rotate(-35deg);
  transform-origin: right;
}

.change .line-3 {
  transform: translateY(-1rem) rotate(35deg);
  transform-origin: right;
}

.nav-list {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.change .nav-list {
  opacity: 1;
  visibility: visible;
  transition: all 0.7s 0.5s;
}

.nav-link {
  font-family: "MADE Soulmaze", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  color: rgb(177, 83, 221);
  margin: 2rem 0;
  transition: color 0.4s;
  font-weight: bolder;
  
}

.nav-link:hover {
  color: #9e0e09;
}
/*  End of Navbar */

/* FAQS SECTION */

#mid-img{
  margin-top: 10rem;
}

#heading-mid{
  margin-top: 9rem;
}