.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1px;
}

.item-11 {
    grid-column: span 1;
    grid-row:span 1;
    aspect-ratio: 1 / 1;
}

.item-22 {
    grid-column: span 2;
    grid-row:span 2;
    aspect-ratio: 1 / 1;

}

.item-32 {
    grid-column: span 3;
    grid-row:span 3;
    aspect-ratio: 3 / 2;

}